@model EmpModel

<h1>Employee Details</h1>
<div class=" text-right ">
    <a asp-action="CreateEmployee" asp-controller="Employee" class="btn btn-primary mb-3 " style=" width:15%;"><span>Create New</span>   </a>
</div>
<div id="wrap" class="mt-4">
    <div class="container-fluid">
        <table id=tableemployee cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover ">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Pan no</th>
                    <th>Passport no</th>
                    <th>Gender</th>
                    <th>IsActive</th>
                    <th>Profile Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Employee)
            {
                <tr>
                    <th>@item.Email</th>
                    <td>@item.Country</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>@item.Pan_no</td>
                    <td>@item.Passport_no</td>
                    <td>@item.Gender</td>
                    <td>@item.IsActive</td>
                    <td><img src=@item.profilepicpath alt="Image" style="width: 60px; height: 60px;" /></td>
                    <td>
                        <a asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a>  |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@section Scripts
{
   <link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>


    <script>
        /*var js = jQuery.noConflict(true);*/
        $(document).ready(function () {
            $('#tableemployee').DataTable({

            });
        });

    </script>
}


